@import "variables";

.pay-commission {

  &__log {
    z-index: auto;
    position: relative;
    line-height: 20px;
    transition: none;
    background: #000;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
    font-family: monospace;
    font-size: .85em!important;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;

    &--success {
      color: $brand-success;
    }

    &--error {
      color: $brand-danger;
    }

  }

  &__log-message {
    margin: 0 !important;
  }

}


