.dataTables_paginate > .pagination > li > a
{
  background-color: $primary-text-color;
  color: $brand-primary;
}

.dataTables_paginate > .pagination > li > a:focus,
.dataTables_paginate > .pagination > li > a:hover,
.dataTables_paginate > .pagination > li > span:focus,
.dataTables_paginate > .pagination > li > span:hover
{
  color: $primary-text-color;
  background-color: $brand-primary;
  border-color: darken($brand-primary, 10%);
}

.dataTables_paginate > .pagination > .active > a
{
  color: $primary-text-color;
  background-color: $brand-primary !important;
  border: solid 1px darken($brand-primary, 10%) !important;
}

.dataTables_paginate > .pagination > .active > a:hover
{
  background-color: $brand-primary !important;
  border: solid 1px darken($brand-primary, 10%);
}