.pay-commission__log {
    z-index: auto;
    position: relative;
    line-height: 20px;
    -webkit-transition: none;
    transition: none;
    background: #000;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
    font-family: monospace;
    font-size: .85em !important;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px
}

.pay-commission__log--success {
    color: #3cb64b
}

.pay-commission__log--error {
    color: #e14439
}

.pay-commission__log-message {
    margin: 0 !important
}
